:host {
	grid-column: 1/2;
	height: 100px;
}

:host:nth-child(1) {
	grid-row: 1/2;
	background-image: url("./promo-1.jpg");
}

:host:nth-child(2) {
	grid-row: 2/3;
	background-image: url("./promo-2.jpg");
}

:host:nth-child(3) {
	grid-row: 3/3;
	background-image: url("./promo-3.jpg");
}